extends _section.small.pug

block content
    svg(class="transition duration-1000 ease-in-out scale-150 stroke-current text-green-700 h-36 w-36 stroke-1 mx-auto text-center", xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24'  fill='none' stroke-linecap='round' stroke-linejoin='round')
        path(stroke='none' d='M0 0h24v24H0z' fill='none')
        path(d='M5 12l5 5l10 -10')
    p.text-center.text-green-700.text-2xl.mb-3= message
   

